{% extends 'base.html.twig' %}

{% block title %}Edit Affectations{% endblock %}

{% block body %}
    <h1>Edit Affectations</h1>

    {{ include('affectations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_affectations_index') }}">back to list</a>

    {{ include('affectations/_delete_form.html.twig') }}
{% endblock %}
