{% extends 'base.html.twig' %}

{% block title %}New Affectations{% endblock %}

{% block body %}
    <h1>Create new Affectations</h1>

    {{ include('affectations/_form.html.twig') }}

    <a href="{{ path('app_affectations_index') }}">back to list</a>
{% endblock %}
